.Game-Board {
  margin: 0;
  height: 440px;
  width: 440px;
}

div#aircraft-carrier {
	width: 40px;
	height: 240px;
	background: grey;
  border-radius: 10px;
}

.carrier-sideways {
	width: 240px;
	height: 40px;
	background: grey;
  border-radius: 10px;
}


